PORT=3003
MONGO_URL=mongodb://127.0.0.1/uber-rides
JWT_SECRET=replace_me
RABBIT_URL=amqp://localhost
BASE_URL=http://localhost:3000
USER_SERVICE_URL=http://localhost:3001
CAPTAIN_SERVICE_URL=http://localhost:3002
